@import "navbar";
@import "form";
body{
  width: 100%;
  height: 100%;
  margin:0 !important;
}
ul, li{
  margin:0;padding:0;
}
#navbarVelo{
  padding-top:30px;
  position: fixed;
  background-color:#202122;
  display: none;
  width: 100%;
  z-index: 9999;
  &ul{
    list-style: none;
    &li{
      display:inline-block;
      &a{
        padding:10px;
      }
    }
  }
}
.imageVelo{
  background-image: url('../img/velo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin:0;
  width: 100%;
  height: 100%;

}
#map {
    position: absolute;
    bottom: 0;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#marker {
    background-image: url('https://cdn2.iconfinder.com/data/icons/map-pins-1-01-easylines/128/yumminky-pin-12-512.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.mapboxgl-popup {
    position: fixed;
    width: 330px;
    left: 5%;
    right: 0;
    bottom:10px;
    top:auto;
    transform:none !important;
    
  }
  
  .mapboxgl-popup-content {
    font-family: 'Open Sans', sans-serif;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.103) 2px 2px 2px 2px;
    & .container{
      margin-top:10px;
      margin-bottom: 10px;
    }
    & h2{
      font-weight: 700;
      font-size: 25px;
      margin-bottom: 2px;
    }
    & p{
      font-size:12px;
      font-weight: 700;
      margin-bottom:0px;
    }
    & .reserveButton{
      width: 100%;
      background-color:#fdb10e;
      border:0 none;
      outline:0;
      box-shadow:none;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      color:white;
      padding: 10px;
      margin:10px;
      margin-left:0px;
    }
  }
  .mapboxgl-popup-tip {
    border:none !important;
  }